<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lite.crud.infrastructure.persistence.mysql.cdata.user.UserInfoMapper">

	<insert id="doSave">
		insert into user_info (username, password)
		values (#{username}, #{password})
	</insert>

    <update id="doUpdate">
		update user_info
		<set>
			<if test="lastLoginTime != null">
				last_login_time = #{lastLoginTime},
			</if>
			<if test="signOutTime != null">
				sign_out_time = #{signOutTime},
			</if>
		</set>
		where id in
		<foreach collection="ids" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</update>

    <delete id="deleteByIds">
		delete from user_info where id in
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="doQuery" resultType="lite.crud.domain.cdata.user.vo.UserInfoVo">
		select
			*
		from user_info
		<where>
			<if test="dto.username != null and dto.username != ''">
				and username = #{dto.username}
			</if>
			<if test="dto.password != null and dto.password != ''">
				and password = #{dto.password}
			</if>
			<if test="dto.ids != null and dto.ids.length > 0">
				and id in
				<foreach collection="dto.ids" item="id" open="(" separator="," close=")">
					#{id}
				</foreach>
			</if>
		</where>
	</select>
</mapper>
